{% extends "registration.html" %}

{% block OwnLinks %}
    {% load static %}
    <link href="{% static "/css/login.css" %}" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/bender.css" %}">
{% endblock %}

{% block NamePage %}
  <div class="mb-3 font-italic row">
      <h3 class="mb-3 col-4">Вход</h3>
  </div>
{% endblock %}

{% block userPost %}
  <form action="/log_in/?next={{ last_page }}" method="post">
    {% csrf_token %}
    {% if error %}
      <div class="alert alert-danger" role="alert">
         <h4 class="alert-heading">Ошибка входа</h4>
         <p>Введен неправильный логин или пароль!</p>
      </div>
    {% endif %}
    <fieldset>
    <div class="form-group row" style="display:none;">
      <div class="col-2"></div>
      <div class="col-5 justify-content-center">
        <div class="invalid-feedback d-block" >Введен неправильный пароль! </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="login">Login</label>
      <input type="text" name="nickname" class="form-control" maxlength="30" placeholder="Логин" required="" id="nickname">
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="*********" required="" id="password">
    </div>
    <hr class="mb-4">
    <div class="form-group">
      <input type="submit" value="Войти" class="btn btn-success"/>
      <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
    </div>
  </fieldset>
  </form>
{% endblock %}

{% block paginate %}
    
{% endblock paginate %}
