{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/paginate.css" %}">
<div class="container" style="
    margin-top: 10px;">
  <div class="row">
    <div class="pagination center">
        {% if page_objects.has_previous %}
            <a class="page-link" href="?page={{ page_objects.previous_page_number }}"><-</a>
        {% endif %}

        <div class="page-link current">
            Page {{ page_objects.number }} of {{ page_objects.paginator.num_pages }}.
        </div>

        {% if page_objects.has_next %}
            <a class="page-link" href="?page={{ page_objects.next_page_number }}">-></a>
        {% endif %}
    </span>
</div>
  </div>
</div>
