{% extends "tag_find.html" %}

{% block NamePage_title %}
    Users Questions
{% endblock NamePage_title %}

{% block userPost %}
    {% for obj in questions %}
    	
        <div class="blog-post row Post">
          <div class="avatarka_in_post col-md-2 ">
            {% load static %}
            <a href="{% url 'user' id=obj.author.id %}">
            	<img src="{% static "/img/Empty2.jpg" %}" width="90" height="90">
            	{# {{obj.autor}} #}
            </a>
            <select name="likes" class="likes">
                                <option selected="">5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
            </select>
          </div>
        <div class="Context_Post col-md-9">
          <h2 class="blog-post-title">{{obj.title}}</h2>
          <p>{{obj.text}}</p>
          {% block BottomOnePost %}
            <div class="blog-post-meta row Post_title_bottom">
              <a href="{% url 'user' id=obj.author.id %}" class="">{{obj.author}}</a>
              <div class="col-9">
            	{% if obj.tags %}
            		<p>Теги:
                		{% for t in obj.tags.all %}
                			<a href="">
								{{t}}
                			</a>
                		{% endfor %}
                	</p>
            	{% else %}
            		{# Тегов нет #}
            	{% endif %}
              </div>
            </div>
          {% endblock BottomOnePost %}
        </div>
      </div>
    {% endfor %}
{% endblock userPost %}