{% extends "tag_find.html" %}

{% block OwnLinks %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "/css/settings.css" %}">
{% endblock %}
 
{% block NamePage %}
  <div class="row font-italic border-bottom pb-2 mb-3  ">
    <div class="col-9 ">
      <h3>Настройки: {{profile}}</h3>
    </div>
    <div class="col-3">
      <a href="{% url 'user_questions' id=profile.id %}">
        Вопросы пользователя
      </a>
    </div>
  </div>
{% endblock %}

{% block userPost %}

  <form class="needs-validation" novalidate="">
    <div class="FileDiv">
      <div style="margin-left:20px;margin-top:10px;">
    <div class="form-group row ">
            <div class="col-2">
                Логин
            </div>
            <div class="col-10">
                {{profile}}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                Имя
            </div>
            <div class="col-10">
                {{profile.first_name}}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                Фамилия
            </div>
            <div class="col-10">
                {{profile.last_name}}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                Почта
            </div>
            <div class="col-10">
                {{ profile.email }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Рейтинг
            </div>
            <div class="col-10">
                {{ profile.rating }}
            </div>
        </div>
      </div>
    </div>
    <div class="md-3 container FileDiv group">
      <div class="row">
        <div class="col-md-5">
          {% load static %}
          {% if profile.upload %}
                <img src="{{MEDIA_URL}}{{profile.upload.url}}" width="150" height="150">   <!--/static/media/-->
              {% else %}
                  <img src="{% static "/img/Empty2.jpg" %}" width="150" height="150">
              {% endif %}
        </div>
      </div>
    </div>
    {% if user.is_authenticated and user.id == profile.id%}
      <hr class="mb-4">
      <div class="form-group row ">
          <div class="col-md-12">
              <a href="{% url 'edit' %}" class="btn btn-primary">Редактировать</a>
          </div>
      </div>
    {% endif %}
  </form>
{% endblock %}
{% block paginate %}
{% endblock paginate%}